# Mac OS
.DS_Store

lib

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Build output directies
/target
*/target
/build
*/build

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
.gradle

# IntelliJ
out
.idea
*.ipr
*.iws
*.iml

# mpeltonen/sbt-idea plugin
.idea_modules/

# Logs
*.log
